<!DOCTYPE html> <!-- Declaring the document type as HTML5 -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!-- Defining XML namespaces for Thymeleaf and Thymeleaf Spring Security -->

<head>
    <title>Add Review</title> <!-- Setting the title of the HTML page -->
</head>

<body>
    <h1>Add Review</h1> <!-- Displaying a heading for adding a review -->
    <form th:action="@{/reviews}" th:object="${review}" method="post">
        <!-- Creating a form to add a review with Thymeleaf attributes -->
        Book Id: <input type="text" th:field="*{bookId}" th:value="${param.bookId}" readonly/>
        <!-- Input field for entering the book ID associated with the review -->
        <br><input type="text" th:field="*{review}" placeholder="Review" />
        <!-- Input field for entering the review text -->
        <input type="submit" value="Submit" />
        <!-- Submit button to submit the form -->
    </form>
</body>

</html>

