<!DOCTYPE html> <!-- Declaring the document type as HTML5 -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!-- Defining XML namespaces for Thymeleaf and Thymeleaf Spring Security -->

<head>
    <title>Book List</title> <!-- Setting the title of the HTML page -->
    <script th:src="@{/bookscript.js}"></script> <!-- Including a JavaScript file -->
</head>

<body>
    <h1>Book List</h1> <!-- Displaying a heading for the book list -->
    <a href="/addBook">Add Book</a> <!-- Link to add a new book -->
    <ol> <!-- Ordered list to display books -->
        <li th:each='b: ${books}'> <!-- Iterating over the list of books -->
            <a href="#" th:onclick="'getBook('+ ${b.id} + ')'" th:text="${b.title}"></a>
            <!-- Link to display book details and trigger the 'getBook' function -->
            <a th:href="@{/addReview(bookId=${b.id})}">(review)</a>
            <!-- Link to add a review for the book -->
        </li>
    </ol>
    <hr/>
    <div th:id="bookdetails"></div> <!-- Placeholder for displaying book details -->
    <div th:id="reviews"></div> <!-- Placeholder for displaying reviews -->
</body>

</html>
